 *, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans';
    font-weight: normal;
 }

 body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(31, 31, 238), aqua);

 }

 .calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

 } 

 .calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(245, 244, 243);
 }

 .calculator-grid > button:hover{
    background-color: rgb(199, 181, 164);
}

.span-two{
   grid-column: span 2;
}

.output{
   color: aqua;
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.5rem;

}


.output .previous-operand{
    color: rgb(217, 221, 221);
    font-size: 1.5rem;
}

.output .current-operand{
    color: azure;
    font-size: 2rem;
}